<%= simple_form_for(@directory, html: {class: "form-horizontal", multipart: true}) do |f| %>
  <% if @directory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@directory.errors.count, "error") %> prohibited this directory from being saved:</h2>

      <ul>
      <% @directory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :category_id%><br>
    <%= f.input :nombre %><br>
    <%= f.input :descripcion %><br>
    <%= f.input :direccion %><br>
    <%= f.input :comuna %><br>
    <%= f.input :ciudad %><br>
    <%= f.input :region %><br>
    <%= f.input :telefono %><br>
    <%= f.input :codigo_area %><br>
    <%= f.input :celular %><br>
    <%= f.input :email %><br>
    <div class="actions">
    <%= f.label :foto_perfil %>
    <%= f.file_field :foto_perfil%>
    </div>
    <%= f.input :foto_portada %><br>
    <%= f.input :estado %><br>
    <%= f.input :layout %><br>

  <div class="form-action">
    <%= f.button :submit %>
  </div>
<% end %>
