<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @directory.user %>
</p>

<p>
  <strong>Category:</strong>
  <%= @directory.category %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @directory.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @directory.descripcion %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @directory.direccion %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @directory.comuna %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @directory.ciudad %>
</p>

<p>
  <strong>Region:</strong>
  <%= @directory.region %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @directory.telefono %>
</p>

<p>
  <strong>Codigo area:</strong>
  <%= @directory.codigo_area %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @directory.celular %>
</p>

<p>
  <strong>Email:</strong>
  <%= @directory.email %>
</p>

<p>
  <strong>Foto perfil:</strong>
  <%= @directory.foto_perfil %>
</p>

<p>
  <strong>Foto portada:</strong>
  <%= @directory.foto_portada %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @directory.estado %>
</p>

<p>
  <strong>Layout:</strong>
  <%= @directory.layout %>
</p>

<%= link_to 'Edit', edit_directory_path(@directory) %> |
<%= link_to 'Back', directories_path %>
