<% if user_signed_in? %>
	<p>Bienvenido <%= current_user.email %></p>
	<%= link_to ('sign_out') ,destroy_user_session_path, method: :delete %>
	<%= link_to ('edit profile'), edit_user_registration_path %>
	<%= link_to ('register directory'), new_directory_path %>
<%else%>
	<%=link_to "Register", new_user_registration_path %>
	<p>Si ya tienes una cuenta: <%=link_to "Logueate", new_user_session_path%></p>
<%end%>

